<!doctype html>
<html lang="en">
  <head>
    <% if (typeof title !== "undefined") { %>
    <title><%- title; %> | Aneelas Office</title>
    <% } else { %>
    <title>Not Found | Aneelas Office</title>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/orders/dependencies/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/orders/dependencies/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/orders/dependencies/toastr/toastr.min.css" />
    <link rel="stylesheet" href="/orders/styles/importer.css" />
  </head>

  <body>
    <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>

    <div class="page-loader-container">
      <div class="page-loader"></div>
    </div>

    <div class="container text-center d-none">
      <a href="/"><img class="logo my-4" src="/orders/images/aneelas_logo_dark.svg" alt="Aneelas Logo" /></a>
    </div>

    <%- body; %>

    <script src="/orders/dependencies/bootstrap/bootstrap.min.js"></script>
    <script src="/orders/dependencies/jquery-3.7.1.min.js"></script>
    <script src="/orders/dependencies/toastr/toastr.min.js"></script>
    <script src="/orders/dependencies/progresspiesvg.min.js"></script>
    <script src="/orders/dependencies/homepage.js"></script>
  </body>
</html>
